<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Spring Security Example</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js" integrity="sha512-oHBLR38hkpOtf4dW75gdfO7VhEKg2fsitvHZYHZjObc4BPKou2PGenyxA5ZJ8CCqWytBx5wpiSqwVEBy84b7tw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="bg-light vh-100 d-flex flex-column">
    <header>
      <div class="container-fluid bg-dark pt-3 pb-3">
        <div class="row">
          <div class="col-11">
            <div class="text-white" sec:authorize="isAuthenticated()">
              <div class="d-inline h5 font-weight-bold" sec:authentication="name"></div>
              <h5 class="d-inline">with roles:</h5>
              <div class="d-inline" th:each="authority : ${#authentication.getAuthorities()}"
                th:if="${authority.getAuthority().startsWith('ROLE_')}"
                th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}"></div>
            </div>
          </div>
          <div class="col">
            <a class="float-right text-white-50 sec:authorize=" sec:authorize="isAuthenticated()"  href="/logout">Logout</a>
            <a class="float-right text-white-50 sec:authorize=" sec:authorize="!isAuthenticated()" href="/login">Login</a>
          </div>
        </div>
      </div>
    </header>
    <div class="flex-fill" layout:fragment="content">
        <p>Body contents</p>
    </div>
</body>
</html>