<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<div layout:fragment="content">
  <form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <label for="pass">Enter password: </label>
    <input type="password" th:field="*{password}" id="pass">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <label>
      <select multiple="multiple" th:value="*{roles}" name="roles">
        <option th:each="role : ${allRoles}" th:value="${role.getId()}" th:text="${role.getAuthority()}"></option>
      </select>
    </label>
    <input type="submit" value="save">
  </form>
</div>
</body>
</html>