<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div layout:fragment="content">
    <h1>User, welcome spring boot security page!</h1>
    <table>
        <tr>
            <td><span th:text="${user.getUsername()}"> Username </span></td>
            <td><span th:text="${user.getName()}"> Name </span></td>
            <td><span th:text="${user.getLastName()}"> LastName </span></td>
        </tr>
        <tr>
            <td th:each="role : ${user.getAuthorities()}"><span th:text="${role.getAuthority()}"> Role </span></td>
        </tr>
    </table>
</div>
</body>
</html>