<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <tr>
        <td><span th:text="${user.getUsername()}"> Username </span></td>
        <td><span th:text="${user.getName()}"> Name </span></td>
        <td><span th:text="${user.getLastName()}"> LastName </span></td>
    </tr>
    <tr>
        <td th:each="role : ${user.getAuthorities()}"><span th:text="${role.getAuthority()}"> Role </span></td>
    </tr>
</table>




<a href="/logout">Logout</a>

</body>
</html>